README.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
sql-qeries.sql
.env_DB_ADDRESS
docker-compose.yml
src/main/resources/schema.sql
src/main/resources/triggers.sql

# .sourceignore

# Flux ignore
# https://fluxcd.io/docs/components/source/gitrepositories/#excluding-files

# Exclude all
/*

# Include manifest directories
!/resources/
!/clusters/
!/infrastructure/
